{% extends "core.html" %}
{% block content %}
<div class="mx-auto max-w-2xl px-4 py-12 sm:px-6 sm:py-24 lg:max-w-4xl lg:px-8">
    <h1 class="text-4xl my-4">¡Respuesta Enviada!</h1>
    <a href="{% url 'index' %}" class="flex w-32 mt-2 justify-center rounded-md bg-corduroy-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-corduroy-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-corduroy-600">Volver</a>
</div>
{% endblock content %}
